.row{
    display: flex;
    align-items: stretch;
}

.label{
    flex:  0 0 auto;
    font-family: serif;
}
.row .container{
    flex: 1;
    display:  flex;
    justify-content:  flex-start;
}

.row .dish{
    display:  flex;
    justify-content:  center;
    align-items:  center;
}
.pasta{
    background-color: lightcoral;

}
.pizza{
    background-color:  lightgreen;
}

.burger{
    background-color: lightpink;
}
