body{
    background-color: lightgoldenrodyellow;
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%; 
}

h1{
    font-size: 3rem;

}

h2{
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

nav ul{
    list-style:none;
    text-align:  center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkseagreen;
    justify-content:  space-between;
}

nav li {
    display:inline-flex;
}

.nav-item {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: black;
     
}
  
.nav-item:hover {
    background-color:lightcyan;
    color: darkslateblue;
}

/* Background-image for row  */
section .background-row {
  width: 99%;
  height: auto;
  border-radius: 10px;
  background-image: url("Veg.jpg");  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;
  margin: 0 auto;  
  position:relative;
}


.content {
  padding: 5px;
  color: black;
  text-align:left;
}

/* flex container using add the three columns */

.flex-container{
  display: flex;
          justify-content: space-between;  
          width: 100%;
}

.column {
  flex: 1;  
  background-color: darkseagreen;
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
  color:black ;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 15px;
  text-align: left;
  overflow: hidden;
  font-size:15px;
  
}

.column > img {
  padding: 2px;
  width:100%;
}

section {
    display: flex;
    font-size: 10px;
}

article {
    flex: 1;
    padding: 5px;
    
}

/* Footer Add the two columns */
footer {
  color: black;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left img {
  width: 50px;  
  height: auto;
  margin-right: 10px; 
  border-radius: 2px; 
}

.footer-right {
  text-align:center;
  padding-left: 860px;
}



