.tag{
    background-color: aquamarine;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;

}

.flex-container{
    /* it contain rows */
    display: flex;
    /* property is used to align the flex items */
    /* justify-content: flex-end; */
    /* property defines in which direction the container wants to stack the flex items. it's constain column */
    /* flex-direction: column; */
    /* value aligns the flex items at the bottom of the container */
    align-items:  flex-end;
     
}

/* Want to specify a class as the background color? like this */
.tag3{
    background-color: lightcoral;
    align-self:  center;
    /*flex:  flex-grow |flex-shrink |flex-basis */
    flex:1 1 auto; 
}

/* tasks */
.tag5{
    background-color: lightseagreen;
    align-self: center ;
    flex: 1 1 auto;
    
}