.container{
    display:  inline-flex;
    flex: 1 1 300px;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
}
.icon {
    padding: 10px;
}
.searchBox{
    border: 0;
    flex:1;
}

.searchButton{
    color: black;
    background-color: darkturquoise;
    border: 0;
    padding: 10px;
    border-radius: 8px;
}